<link rel="stylesheet" type="text/css" href="/css/forget_password.css">
<main>

    <!-- forget password section -->
    <div id="forget">
    <h2>FORGET PASSWORD</h2>

    <!-- forget password form -->
    <form action="/forget-password" method="POST">
        <label for="email" >Your E-mail:</label>
        <input type="email" name="email" id="email" placeholder="Enter Your Registered E-mail">
        <button>Submit</button>
    </form>
    </div>
</main>