<link rel="stylesheet" type="text/css" href="/css/header.css">
<!--    header    -->
<header>
    <h2>Sample Authentication System</h2>
    
    <!--    links for signin user    -->
    <% if(locals.user){ %>
    <div id="header-link">
        <a href="#">Reset Passsword</a>
        <a href="/signout-user">SignOut</a>
    </div>
    <%}%>
</header>